# Ignored files and folders in the repository
.vscode
/Docker/logs.txt
/Flatpak/logs.txt
/GitHub Desktop/logs.txt
/Mac OS Theme/logs.txt
/Nala Ubuntu/logs.txt
/Node.js/logs.txt
/Python --latest/logs.txt
/Unsnap/logs.txt
/logs.txt
